@charset "utf-8";

main{
	width: 92%;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 200px;
}

main section{
	margin-bottom: 30px;
}

#hero{
	background: #ccc;
	max-width: 940px;
	height: 340px;
}

footer{
	padding: 10px 0 16px;
	background: #444;
	color: #fff;
	text-align: center;
}


