@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}

body{
	color: #222;
}

header{
	justify-content: space-between;
	padding: 2px 16px 0;
	width: 92%;
	max-width: 940px;
	margin: 0 auto;
}
header h1{
	float: left;
}
header nav{
	margin-top: 16px;
	float: right;
}
header::after{
	content: "";
	display: block;
	clear: both;
}

header nav ul{
	display: flex;
}

header nav ul{
	list-style-type: none;
}
header nav ul li{
	padding: 0 8px;
	border-right: 1px solid #ccc;
}
header nav ul li:last-of-type{
	border-right: none;
}
header nav ul li a{
	font-size: 14px;
	text-decoration: none;
	color: #333;
}
header nav ul li a:hover{
	border-bottom: 1px dashed #333;
	background: #eee;
}

main{
	width: 92%;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 200px;
}

main section{
	margin-bottom: 30px;
}

#hero{
	background: #ccc;
	max-width: 940px;
	height: 340px;
}


footer{
	padding: 10px 0 16px;
	background: #444;
	color: #fff;
	text-align: center;
	
}
