@charset "utf-8";

main{
	width: 92%;
	max-width: 940px;
	margin: 0 auto;
	margin-bottom: 60px;
}

main section{
	margin-bottom: 40px;
}

section h2{
	margin-bottom: 10px;
}

#hero{
	background: #ccc;
	max-width: 940px;
	height: 340px;
}
#cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card{
	flex-basis: 45%;
	padding: 10px;
	width: 280px;
	height: 180px;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	margin: 0 auto 26px;
}
.more{
	text-align: right;
}

#map iframe{
	width: 100%;
	height: 300px;
}

#SNS ul{
	list-style-type: none;
	text-align: center;
}
#SNS ul li{
	display: inline-block;
}



@media screen and (max-width:620px){
	.card{
		flex-basis: 94%;
	}
}
