*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #222;
	background: #eef0ff;
}
a{
	text-decoration: none;
}
header{
	margin-bottom: 5px;
}
h1{
	font-size: 28px;
	font-weight: bold;
	padding: 4px 12px;
	background: #6b7097; 
	color: #eee;
}
#breadcrumb{
	font-size: 14px;
	width: 98%;
	max-width: 920px;
	padding-left: 2px; 
	margin: 0 auto;
}
section{
	width: 98%;
	max-width: 920px;
	margin: 0 auto 16px;
	background: white;
	padding: 1px 12px 40px;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(160,160,160,.4);
}
h2{
	font-size: 20px;
	padding-bottom: 0;
	margin: 34px 0 10px;
	border-bottom: solid 3px #447;
}
h2:first-of-type{
	margin-top: 12px;
}
ul{
	padding-left: 28px;
}

footer{
	padding: 6px 0;
	text-align: center;
	background: #333;
	color: #eee;
}
